<div class="container">
  <div class="row vertical-align">
    <div class="col-md-2">
      <img src="/assets/resources/KBank_Logo.png" alt="Kbank Logo" class="img-responsive">
    </div>
    <div class="col-md-8">
      <div class="text-center">
        ขณะนี้กำลังดำเนินการให้กับลูกค้า xxx อยู่
      </div>
    </div>
    <div class="col-md-2">
      <div class="pull-right">
        <span *ngIf="userInfoHasData">
          {{id}} : {{name}}
        </span>
        <app-menu></app-menu>
      </div>
    </div>
  </div>
</div>
