<div class="col-md-2"></div>
<div class="col-md-8">
  <div class="row">
    <div class="col-md-12">
      <form class="text-center text" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <p>
          <span style="font-size: 1.5em;font-weight: 600">Welcome to</span>
          <br>
          <span style="font-size: 1.8em;" class="header-text"><strong>Digital Sales<br>Management</strong></span>
        </p>
        <hr>
				<p>
          <strong>
            เข้าใช้งานด้วยรหัสผ่านเดียวกันกับรหัสผ่านที่ใช้ล็อกอินเข้าเครื่องคอมพิวเตอร์<br>
            ของผู้ใช้งานแต่ละท่าน โดยกรอก Username และ Password ดังนี้
          </strong>

        </p>
        <p>
          <small>
            ชื่อผู้ใช้ : K0 รหัสผ่านพนักงาน 6 หลัก<br>
            รหัสผ่าน : รหัสผ่านตามที่ท่านได้บันทึกไว้
          </small>
        </p>
        <hr>
        <div class="row vertical-align">
          <div class="col-md-4 text-right">
            <label for="username"><small>ชื่อผู้ใช้</small></label>
          </div>
          <div class="col-md-4 text-left">
            <input
              type="text"
              class="form-control text"
              id="username"
              name="username"
              ngModel
              required
              #userName="ngModel">
          </div>
          <div class="col-md-4"></div>
        </div>
        <div class="row vertical-align">
          <div class="col-md-4 text-right">
              <label for="password"><small>รหัสผ่าน</small></label>
          </div>
          <div class="col-md-4 text-left">
            <input
              type="Password"
              class="form-control text"
              id="password"
              name="password"
              ngModel
              required
              #password="ngModel">
          </div>
          <div class="col-md-4"></div>
        </div>
        <p *ngIf="errorMessage">กรุณาตรวจสอบข้อมูลอีกครั้ง</p>
        <div class="row">
            <button type="submit" class="btn btn-main" name="login" [disabled]="!loginForm.valid">เข้าสู่ระบบ</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-md-2">

</div>
