<nav class="navbar navbar-default text-center" *ngIf="navigationService.showNavigation">
  <div class="container-fluid">
    <div class="container vertical-align">
      <div class="row">
        <div class="navbar-header  text-center">
          <a class="navbar-brand navigation vertical-align">
            <span>
              <img src="assets/Logos/KBank_Navbar_Logo.png" alt="Navbar Logo">
            </span>
            <span>
              Digital Sales<br>
              Management
            </span>
          </a>
        </div>

        <ul class="navigation" *ngIf="navigationService.showUserLoginNavigation; else notUserLoginNavigation">
          <li class="vertical-align"><a >ลงชื่อเข้าใช้</a></li>
        </ul>
        <ng-template #notUserLoginNavigation>
          <ul class="navigation ">
            <li class="vertical-align"><a >เริ่มต้นการทำธุรกรรม</a></li>
            <li class="vertical-align"><a >ระบุตัวตนลูกค้า<br>และทำแบบประเมิณความเสี่ยง</a></li>
            <li class="vertical-align"><a >ประเมิณกองทุนที่<br>เหมาะสมกับลูกค้า</a></li>
            <li class="vertical-align"><a >นำเสนอ Fund Fact Sheet</a></li>
            <li class="vertical-align"><a >จบการทำธุรกรรม</a></li>
          </ul>
        </ng-template>
      </div>
    </div>
  </div>
</nav>

