.container-fluid {
  background-color: rgb(0,168,81);
}

nav {
  background-color: rgb(0,168,81);
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: rgb(221, 221, 221);
}

.navbar-brand {
  padding-left: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: white
}

.navigation {
  display: flex;
  list-style: none;
  margin: auto;

}

.navigation li {
  padding: 10px;
}

.LogoText{
  float: right;
}

#smartwizard a,#smartwizard2 a {
  height: 75px;
  width: 100%;
}

#smartwizard li,#smartwizard2 li {
  height: 75px;
  width: 14%;
  min-width: 152px;
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.sw-theme-arrows > ul.step-anchor > li.done > a,
.sw-theme-arrows > ul.step-anchor > li.active > a
{
  background: rgb(0,168,81) !important;
  border-color: rgb(0,168,81) !important;
}

.sw-theme-arrows > ul.step-anchor > li.done > a:after,
.sw-theme-arrows > ul.step-anchor > li.active > a:after
{
  border-left: 30px solid rgb(0,168,81) !important;
}

.container-fluid div ul li a:hover,.container-fluid div ul li a{
  cursor: default;
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (orientation: landscape) {
  nav {
    font-size :20px;
  }
}


