<div class="container">
  <div class="row text-center vertical-align">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="connectInfo">
        กรุณาใส่ Id ของ User ที่ต้องการเชื่อมต่อ
      </div>
      <hr>
      <div class="connectInputForm">
        <label for="connectInput">Id User</label>
        <input type="text" class="form-control" name="connectInput" #roomId>
        <button type="button" class="btn btn-main" (click)="onConnect()">เชื่อมต่อ</button>
      </div>
      <p *ngIf="errorRoom">{{errorMessage}}</p>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
