<div class="btn-group" *ngIf="!isMobile && userService.userLoggedIn()">
  <button type="button" class="btn btn-main dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-menu-hamburger"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
      <li *ngIf="showStopRecorder"><a data-toggle="modal" data-target="#stopRecordingModal">หยุดการบันทึกภาพและเสียง</a></li>
      <li><a data-toggle="modal" data-target="#logoutModal">ออกจากระบบ</a></li>
  </ul>
</div>
