<div class="container">
  <div class="row text-center vertical-align text">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <label for="consentForm" class="header-text"><h1>รายละเอียดผู้ลงทุน</h1></label>
      <form id="consentForm" class="text-center" #consentForm="ngForm">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
            <label for="accountname" class="control-label"><small>ชื่อ/นามสกุล</small></label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-left">
            <div class="form-inline">
              <input
                type="text"
                class="form-control"
                id="accountname"
                name="accountname"
                ngModel
                required
                (ngModelChange)="onNameChange($event)"
                [disabled]="disableName"
                #accountName>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
            <label for="accountcis" class="control-label"><small>รหัส CIS ลูกค้า</small></label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-left">
            <div class="form-inline">
              <input
                type="text"
                class="form-control"
                id="accountcis"
                name="accountcis"
                ngModel
                required
                (ngModelChange)="onCISChange($event)"
                [disabled]="disableCIS"
                #accountCIS>
            </div>
          </div>
        </div>

          <hr>
            <h1>ขออนุญาตบันทึกภาพและเสียง</h1>
            <p style="margin: 10px">
              ขออนุญาตท่านในการบันทึกภาพหน้าจอและเสียงระหว่างการทำธุรกรรม<br>
              เพิ่อเป็นข้อมูลในการพัฒนาการบริการของธนาคาร
            </p>
          <hr>

  				<button type="button" id="customerAccept"  class="btn btn-main btn-lg" [disabled]="nameNull || cisNull" (click)="onConsentClick(true)">&nbsp;อนุญาต&nbsp;</button>
  				<button type="button" id="customerDecline"  class="btn btn-cancel btn-lg" [disabled]="nameNull || cisNull" (click)="onConsentClick(false)">ไม่อนุญาต</button>

      </form>

    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
  </div>
</div>
