<div class="container">
  <div class="row text-center">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="message">
           ขณะนี้พนักงานกำลังดำเนินรายการธุรกรรมกองทุนให้ท่านอยู่ กรุณารอเพื่อรับฟังการทวนรายการกองทุนสักครู่
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row image-div">
        <img src="assets/UD/ud1.jpg" class="center-block img-responsive" alt="ud">
      </div>
      <div class="row">
        <button type="button" class="btn btn-main btn-lg" (click)="onNext()" [disabled]="isMobile">ขั้นตอนถัดไป</button>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
