<div class="container">
  <div class="row text-center">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row text">
        <strong>กรุณาชำระเงินด้วยบัตรเครดิต หรือ เงินสด</strong>
      </div>
      <div class="row">
        <img src="assets/EndTransaction/endTransaction.jpg" class="center-block img-responsive" alt="ud">
      </div>
      <div class="row text">
        <small>ท่านจะได้รับกรรมธรรม์ประกันภัย หรือ ได้รับการติดต่อจากบริษัทที่เกี่ยวข้องกับประกันภัย ภายใน 5 วัน</small>
      </div>
      <div class="row">
        <button type="button" class="btn btn-main" (click)="onEndTransaction()" [disabled]="!isMobile">ยืนยัน</button>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
