<div class="container-fluid">
  <div class="row text-center" *ngIf="getURLIsROWCOUNTER_PROCEDURES();">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <div class="message">
            ขณะนี้พนักงานกำลังดำเนินรายการตรวจสอบข้อมูลลูกค้าและทำแบบประเมินความเสี่ยงการลงทุน
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
  </div>
  <div class="row">
    <div class="carousel-wrapper">
      <swiper [config]="config" #usefulSwiper (indexChange)="onIndexChange($event)">
        <div [ngClass]="getActive(i)" *ngFor="let banner of banners; let i=index" >
          <img src="{{banner}}" class="center-block img-responsive carousel-image" alt="">
        </div>
      </swiper>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="row text-center vertical-align" style="margin-top: 10px">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <button type="button" class="btn btn-main btn-lg" (click)="onNext()" [disabled]="isMobile">{{nextWording}}</button>
    </div>
  </div>

  <!-- Test section -->
<!-- <div clas='row'>
  <div class="col-md-3 col-sm-3">
    <button type="button" class="btn btn-main btn-lg" (click)="testalert('1')">1</button>
  </div>
<div class="col-md-3 col-sm-3">
    <button type="button" class="btn btn-main btn-lg" (click)="testalert('2')">2</button>
  </div>
  <div class="col-md-3 col-sm-3">
    <button type="button" class="btn btn-main btn-lg" (click)="testalert('3')">3</button>
  </div>
  <div class="col-md-3 col-sm-3">
    <button type="button" class="btn btn-main btn-lg" (click)="testalert('4')">4</button>
  </div>

</div>
<div clas='row'>
  <div class="col-md-3 col-sm-3">
    <span (click)="testalert('5')">5</span>
  </div>
  <div class="col-md-3 col-sm-3">
    <span (click)="testalert('6')">6</span>
  </div>
  <div class="col-md-3 col-sm-3">
    <span (click)="testalert('7')">7</span>
  </div>
  <div class="col-md-3 col-sm-3">
    <span  (click)="testalert('8')">8</span>
  </div>
</div>
<div clas='row'>
  <div class="col-md-3 col-sm-3">
    <span  (click)="testalert('9')">9</span>
  </div>
  <div class="col-md-3 col-sm-3">
    <span  (click)="testalert('10')">10</span>
  </div>
  <div class="col-md-3 col-sm-3">
    <span  (click)="testalert('11')">11</span>
  </div>
  <div class="col-md-3 col-sm-3">
    <span (click)="testalert('12')">12</span>
  </div>
</div>
 -->
</div>


