<div class="container-fluid">
  <div class="row">
    <div class="carousel-wrapper">
      <swiper [config]="config">
        <div [ngClass]="getActive(i)" *ngFor="let banner of banners; let i=index" >
          <img src="{{banner}}" class="center-block img-responsive carousel-image" alt="test">
        </div>
      </swiper>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="row text-center vertical-align">
    <div class="col-md-12">
      <button type="button" class="btn btn-main" (click)="onNext()" [disabled]="isMobile">{{nextWording}}</button>
    </div>
  </div>
</div>
