<div class="container" >
  <div class="row text-center vertical-align ">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row text card">
        <div class="row text-center">
          <h2>ข้อมูลพนักงาน</h2>
        </div>
        <div class="col-md-6">
          <img src="assets/Logos/KBank_Profile.jpg" alt="ProfileCard" class="img-responsive img-circle center-block">
        </div>
        <div class="col-md-6">
          {{name}}
          <hr>
          {{position}}
          <hr>
          {{location}}
          <hr>
          หมายเลขใบอนุญาต : {{id}}
          <hr>
          <strong>ยินดีให้บริการ</strong>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row text-center vertical-align">
    <div class="col-md-12">
      <button type="button" class="btn btn-main" (click)="onNext()" [disabled]="isMobile">ขั้นตอนถัดไป</button>
    </div>
  </div>
</div>
