<div class="container" >
  <div class="row text-center vertical-align ">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <div class="row text card">
        <div class="row text-center">
          <h2>พนักงานผู้แนะนำการลงทุน</h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <img src="assets/Logos/KBank_Profile.jpg" alt="ProfileCard" class="img-responsive img-circle center-block">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          {{name}}
          <hr>
          {{position}}
          <hr>
          {{location}}
          <hr>
          หมายเลขใบอนุญาต : {{id}}
          <hr>
          <strong style="font-size: 25px;color: rgb(0,168,81);">ยินดีให้บริการ</strong>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
  </div>
  <div class="row text-center vertical-align">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <button type="button" class="btn btn-main btn-lg" (click)="onNext()" [disabled]="isMobile">ขั้นตอนถัดไป</button>
    </div>
  </div>
</div>
