/* You can add global styles to this file, and also import other style files */

html, body {
	/*font-family: "Prompt";*/
	overflow-y: hidden;
	font-family: "PSLxText";
}

.vertical-align {
	    display: flex;
	    align-items: center;
	    padding-top: 0px;
	    padding-bottom: 0px;
			margin-top: 0px;
			margin-bottom: 0px;
}

.header-text {
	color: rgb(1,168,8);
}

.text {
	color: rgb(135, 140, 145);
}

a {
	cursor: pointer;
	color: white;
}

.btn-main {
  background-color: rgb(10,169,79);
  color: white;
}

.btn-main:disabled:hover{
  background-color: rgb(10,169,79);
}

.btn-main:hover {
  background-color: rgb(7,133,61);
	color: white;
}

.btn-cancel {
	background-color: rgb(141,146,150);
	color: white;
}

.btn-cancel:hover {
	background-color: rgb(120,126,131);
	color: white;
}

.btn-menu {

}

.swiper-pagination {

}

.swiper-pagination-bullet {
	background-color: #fff;
	width: 3%;
	height: 13%;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background-color: rgb(10,169,79) !important;
	opacity: 1;
}

.swiper-button-prev {
	background-image: url('/assets/arrows/left-arrow.svg') !important;
}

.swiper-button-prev:hover {

}

.swiper-button-next {
	background-image: url('/assets/arrows/right-arrow.svg') !important;
}

.swiper-button-next:hover {
	
}
