/* You can add global styles to this file, and also import other style files */
.vertical-align {
	    display: flex;
	    align-items: center;
	    padding-top: 5px;
	    padding-bottom: 5px;
}

a {
	cursor: pointer;
}

.btn-main {
  background-color: rgb(10,169,79);
  color: white;
}

.btn-main:disabled:hover{
  background-color: rgb(10,169,79);
}

.btn-main:hover {
  background-color: rgb(7,133,61);
	color: white;
}
